#Contdiv{
	display: flex;
	flex-direction : column;
	justify-content : center;
	margin: 0 15%; 
}
li{
	
	list-style: none;
}
#MovieCont{
	display: flex;
	justify-content : center;
	flex-direction: column;
	padding-left: 6px;
}	

.ax{
	margin-left: 3px !important;
}

.hh{
	color: #7E7E7E;	
	
}
.JJ{
	font-size: 13px;
	
}
.modiv{
	margin: 0 !important;
}
.zz {
	padding: 8px;
}