@charset "UTF-8";

	header{
		margin-left: 330px;
	}

	#container{
		width: 70%;
		margin-left: 15%;
	}
	
	#con1{
		margin-left: 25%;
	}
	
	#img1{
		
		height: 30px;
		width: 30px;
	}
	
	#img_a{
		border: none;
		font-size: 18px;
		color: #000;
		background-color: white;
		margin-left: 400px;
	}

	#pwd{
		width: 250px; 
		margin-top: 15px;
	}
	
	#exampleFormControlTextarea1{
		width: 700px; resize: none;
	}